/* 菜单样式 */
#pageMarker_canvas2025-wrapper-plasmo .plasmo-overlay {
  position: fixed;
  bottom: 20px;
  left: 40px;
  height: 72px;
  z-index: 2147483647;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: #888;
  background-color: hsl(0, 0%, 99%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.plasmo-overlay .plasmo-overlay-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 4px;
  margin:0 2px;
  border-radius: 4px;
  width: 55px;
}
.plasmo-overlay .plasmo-overlay-item:hover {
  cursor: pointer;
}
.plasmo-overlay .plasmo-overlay-item:active {
  background: #ceced7;
}
.plasmo-overlay .plasmo-overlay-item svg {
  width: 30px;
  height: 30px;
}
.plasmo-overlay .plasmo-overlay-item span {
  display: block;
  margin-top: 4px;
}

#pageMarker_canvas2025-wrapper-notes .pageMarker_canvas2025-note-item {
  background-color: rgba(255, 255, 0, 0.3);
  border: 1px solid green;
  border-radius: 4px;
  padding: 2px 4px;
  color:red;
}

.sticky-note-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  cursor: grab;
}
.sticky-note-header:hover .highlite-post-it-header {
  opacity: 1;
}
.highlite-post-it-header {
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  cursor: grab;
  height: 12px;
  align-items: center;
}
.highlite-post-it-header .highlite-delete-btn {
  background: transparent;
  border: none;
  color: #888;
  font-size: 16px;
  cursor: pointer;
}
.highlite-post-it-header-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 4px;
  border: 1px solid #ccc;
}

.note-area {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 300;
  padding: 0;
  width: 100%;
  font-size: 14px;
  border: none;
  background: transparent;
  resize: none;
  color: #888;
  min-height: 100px;
  outline: none;
  flex-grow: 1;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  cursor: nwse-resize;
  background: linear-gradient(135deg, transparent 50%, rgba(0,0,0,0.2) 50%);
}



/* 颜色选择 */
.container {
  position: absolute;
  top: -254px;
  left: -122px;
  width: 258px;
  color: #fff;
  background-color: rgb(81, 81, 81);
  border-radius: 4px;
  padding: 30px 20px;
  box-shadow: 0 4px 12px rgba(81, 81, 81, 0.4);
}

.container h2:first-child {
  margin-top: 0;
}
.container h2 {
  font-size: 16px;
  color: #fff;
  margin: 30px 0 10px;
}

.container .module-action {
  position: absolute;
  height: 10px;
  left: 0;
  bottom: -10px;
  width: 100%;
}

.container .module-action::after {
  content: '';
  position: absolute;
  background-color: rgb(81, 81, 81);
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px;
  transform: rotate(45deg);
  width: 10px;
}

/* 上半部分样式 */
.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.top-circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-circle::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

.top-circle-1, .top-circle-2, .top-circle-3, .top-circle-4, .top-circle-5 {
  border: 2px solid #ccc;
  background-color: #ccc;
}

.top-circle-2::after {
  width: 6px;
  height: 6px;
}

.top-circle-3::after {
  width: 8px;
  height: 8px;
}

.top-circle-4::after {
  width: 10px;
  height: 10px;
}

.top-circle-5::after {
  width: 14px;
  height: 14px;
}

.top-circle.active {
  border: 2px solid #4285f4;
  background-color: #4285f4;
}

/* 下半部分样式 */
.bottom-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.color-circle {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-sizing: border-box;
}

.color-circle.active::after {
  border: 4px solid #fcfcfc;
  background-color: transparent;
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

/* .color-circle-1 {
  background-color: #1976d2;
}

.color-circle-2 {
  background-color: #f800ff;
}

.color-circle-3 {
  background-color: #f44336;
}

.color-circle-4 {
  background-color: #ff9800;
}

.color-circle-5 {
  background-color: #ffeb3b;
}

.color-circle-6 {
  background-color: #4caf50;
}

.color-circle-7 {
  background-color: #80deea;
}

.color-circle-8 {
  background-color: #2196f3;
}

.color-circle-9 {
  background-color: #1976d2;
}

.color-circle-10 {
  background-color: #9c27b0;
} */