#pageMarker_canvas {
  cursor: crosshair;
  top: 0px;
  left: 0px;
  position: absolute!important;
  z-index: 2147483646;
  background-color: transparent;
  user-select: none!important;
}

body {
  background-color: red;
}